---
name: ci

on:
  push:
    branches:
      - main
  workflow_dispatch: { }

jobs:
  push:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Pack
        uses: crazy-max/ghaction-chocolatey@v3
        with:
          args: pack
      - name: Push
        uses: crazy-max/ghaction-chocolatey@v3
        with:
          args: push --source "https://push.chocolatey.org/" --api-key ${{ secrets.CHOCOLATEY_API_KEY }}
